ScottBrady91.IdentityServer3.Example/bin/
ScottBrady91.IdentityServer3.Example/obj/Release/ScottBrady91.IdentityServer3.Example.dll
ScottBrady91.IdentityServer3.Example/obj/Release/_WPPLastBuildInfo.txt
ScottBrady91.IdentityServer3.Example/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ScottBrady91.IdentityServer3.Example/obj/
packages/
.vs/ScottBrady91.IdentityServer3.Example/v16/
ScottBrady91.IdentityServer3.Example/Properties/PublishProfiles/
